*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  place-content: center;
  height: 100svh;
}
.board{
  width: 400px;
  height: 400px;
  outline: 2px black solid;
  display: grid;
}
.board-element{
  user-select: none;
  border: 1px solid rgba(237, 237, 237, 0.447);
}
.ui-tools,
.ui-options{
  display: flex;
  outline: 2px black solid;
}
.color-tools,
.pen-tools{
  flex: auto;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: calc(25px / 2) 25px;
}

.color-tools{
  justify-content: flex-start;
}
.pen-tools{
  justify-content: flex-end;
}

label{
  display: block;
  width: 25px;
  height: 25px;
  position: relative;
  font-size: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#color-tool input{
  position: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  opacity: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  border: 1px solid black;
}
#color-tool input::-webkit-color-swatch{
  border: none;
}
#color-tool input::-webkit-color-swatch-wrapper{
  padding: 0;
}
input[type=color]{
  width: 100%;
  height: 100%;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  transition: all 100ms;
}
label input:checked ~ .checkmark{
  outline: 2px black solid;
  outline-offset: 2px;
}
.board-resolution{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 13px 25px;
}
.board-options{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: calc(25px / 2) 25px;
}
.board-options-wrapper{
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  height: 25px;
}
.board-options-wrapper img{
  cursor: pointer;
}